<template>
  <div class="lists">
    <h1>Lists</h1>
    This file will list all the lists.
    <div v-for="(list, index) in lists" , :key="index">
        <h3>{{ list.title }}</h3>
        <p>{{ list.description }}</p>
    </div>
  </div>
</template>

<script>
import ListsService from '@/services/ListsService'
export default {
  name: 'lists',
  data () {
    return {
      lists: []
    }
  },
  mounted () {
    this.getLists()
  },
  methods: {
    async getLists () {
      const response = await ListsService.fetchLists()
      this.lists = response.data
    }
  }
}

</script>
